$lightGrey: #F8F8F8;
$midGrey: 	#F0F0F0;
$darkGrey: #E8E8E8;
$darkestGrey: #A9A9A9;
$white: #fff;
$blue: #CCEAF4;
$melon: #FF3B3D;
$ok: #CCEAF4;
$warning: orange;
$danger: #f15e5e75;
$shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
$shadowHover: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
$fontColour: #A9A9A9;
$fontSize: 14px;
$fontFamily:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$buttonFontColour: white;
$inputBgColour: #F8F8F8;
