@import '../variables.scss';
.sidebar {
  padding: 10px;
  a {
    display: block;
    height: 44px;
    overflow: hidden;
    margin-bottom: 15px;
    text-decoration: none;
  }

  .round {
    background: $melon;
  }

  .title {
    margin-left: 10px;
    display: inline-block;
  }
}
