@import '../variables.scss';
.sidebar {
  padding: 10px;
  a {
    display: block;
    height: 48px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .round:hover {
    background: $melon;
  }
}

.sidebar a.active .round  {
  background: $melon;
}
