<nav class="sidebar">
  <a routerLink="companies" (click)="goto('companies')" routerLinkActive="active" title="{{keys.companies}}">
    <span class="iconLink round"><i class="fas fa-building"></i></span>
  </a>
  <a routerLink="products" (click)="goto('products')" routerLinkActive="active" title="{{keys.products}}">
    <span class="iconLink round star"><i class="fas fa-star"></i></span>
  </a>
  <a routerLink="customers" (click)="goto('customers')" routerLinkActive="active" title="{{keys.customers}}">
    <span class="iconLink round"><i class="fas fa-user"></i></span>
  </a>
  <a routerLink="results" (click)="goto('pages/results')" routerLinkActive="active" title="{{keys.results}}">
    <span class="iconLink round"><i class="fas fa-atom"></i></span>
  </a>
  <a routerLink="thankyou" (click)="goto('pages/thankyou')" routerLinkActive="active" title="{{keys.thankYou}}">
    <span class="iconLink round"><i class="fas fa-birthday-cake"></i></span>
  </a>
  <a routerLink="tooltips" (click)="goto('pages/tooltips')" routerLinkActive="active" title="{{keys.tooltips}}">
    <span class="iconLink round"><i class="fas fa-question"></i></span>
  </a>
</nav>
